<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Petition</title>
    <link rel="icon" type="image/png" sizes="32x32" href="petition1.png">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <a class="link" href="/">We Need More Cowbell!</a>
        <p>the unofficial petition</p>        
    </header>
    <div id="content-wrap">
        {{{body}}}
    </div>
    <footer>
        <p>This website was built entirely with PostgreSQL and express handlbares templates</p>        
        <p>© Ariel Moatti 2020</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="script.js" charset="utf-8"></script>
</body>
</html>