{{>cornerBtn login=true}}
<div class="login">
    <h2>welcome back! please log in</h2>
    <div class="container">            
        <form method='POST'>
            <input type='email' name='email' placeholder='Email Address' autocomplete='off'>
            <input type='password' name='password' placeholder='Password' autocomplete='off'>            
            {{>csrf}}
            <button type="submit">log in</button>
        </form>
        <p>not yet registered? then please go ahead and <a class="link" href="/register">register now</a></p>
        {{#if message}}
            {{>msgBox}}
        {{/if}}
    </div>
</div>