{{>cornerBtn logged=true}}
<div class="home">
    {{#rows}}
        <h1>welcome to my petition, {{first}}!</h1>
    {{/rows}}
        <a href="https://vimeo.com/406011330" target="_blank">
        <div title="click here to get inspired!" class="imgContainer bruce">
            <img src="/assets/Walken-Cowbell.jpg" alt="" srcset="">            
        </div>
        </a>
        <h2>cowbell... what a lovely sound... we definitely need more of it!</h2>
        <p>music nowadays tends to be pretty dull. Bands all over the world are releasing songs daily - and while some <strong>do appear to be having a dynamite sound</strong>, what they really need is simply... more cowbell! I am positive, that every song MUST include more
        of it - much more than what is regularly considered "enough". My petition is all about adding more cowbell to <strong>every</strong> song out there.
        </p>
        <h2>well, it looks likes you haven't yet signed the petition...</h2>
    <h3>if you believe that more cowbell is needed</a>  in our world, <br>please sign your name <small> (using the mouse)</small></h3>
    <div class="container">            
        <form method='POST'>            
            <div>
                <input type="hidden" name="signature">
                {{>csrf}}                
                <canvas id="canvas" width="500" height="150"></canvas>
            </div>
            <button type="submit">submit</button>
        </form>
        <div class="empty"></div>
        {{#if message}}
            {{>msgBox}}
        {{/if}}
    </div>
</div>