{{>cornerBtn logged=true}}
<div class="home">
    {{#rows}}
        <h2>Hello, {{first}}!</h2>
        <h3>Looks likes you haven't yet signed the petition...</h3>
    {{/rows}}
    <h2>If you agree, please sign your name</h2>
    <div class="container">            
        <form method='POST'>            
            <div>
                <input type="hidden" name="signature">
                {{>csrf}}                
                <canvas id="canvas" width="500" height="150"></canvas>
            </div>
            <button type="submit">sign up</button>
        </form>
        {{#if message}}
            {{>msgBox}}
        {{/if}}
    </div>
</div>