<div class="thankyou">
    {{#rows}}
    <h2>
        thank you, {{first}} {{last}}, for signing my petition! 
    </h2>
    {{/rows}}    
    <p>{{numberOfSigners}} people have so far signed this petition!</p>
    <div class="container">
        <p>want to see who else signed so far?<br>
        click the button to find out...</p>
        <a href="/signerslist" id="listBtn">signers list</a>
    </div>
</div>