{{>cornerBtn logged=true}}
<div class="thankyou">
    {{#rows}}
    <h2>
        thank you, {{first}} {{last}} for your support! 
    </h2>
    <p>with your signature below, you are a supporter of my petition</p>
    {{/rows}}    
    <img id="signature" src="{{signature}}" alt="signature">
    <div class="container">
    <h3>Total number of supporters until now: {{numberOfSigners}}</h3>
        <p>Want to know who else needs more cowbell? <br>click below to find out...</p>
        <a href="/signerslist" class="myBtn">supporters</a>
        <div class="bottom">
            <a href="/profile/update" class="myBtn">update profile</a>
            <form method='POST' action='/delete/signature'>
                <button class="myBtn" type="submit">delete signature</button>
                {{>csrf}}
            </form>
        </div>
    </div>
    {{#if message}}
            {{>msgBox}}
        {{/if}} 
</div>