{{>cornerBtn logged=true}}
<div class="thankyou">
    {{#rows}}
    <h2>
        thank you, {{first}} {{last}}, for signing my petition! 
    </h2>
    <p>with your signature below, you are a registered signer of my petition!</p>
    {{/rows}}    
    <img id="signature" src="{{signature}}" alt="signature">
    <div class="container">
    <p>want to see the other {{numberOfSigners}} people who signed this petition?<br>
        then click the below to find out...</p>
        <a href="/signerslist" class="myBtn">signers list</a>
        <a href="/profile/update" class="myBtn">update profile</a>
        <a href="/delete/signature" class="myBtn">delete signature</a>
        {{!-- <form method='POST'>
            <button class="myBtn" type="submit">delete signature</button>
            {{>csrf}}
        </form> --}}
    </div>
    {{#if message}}
            {{>msgBox}}
        {{/if}} 
</div>