* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #666b6a;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    /* overflow-y: hidden; */
}

header {
    background-color: #6f251f;
    color: #ccc5b9;
    text-align: center;
    padding: 10px 0px;
    position: relative;
    /* display: flex;
    justify-content: space-between; */
    /* position: fixed;
    top: 0;
    width: 100%; */
    /* position: fixed; */
    /* min-height: 100px; */
    /* z-index: 10; */
}

header a {
    color: #ccc5b9;
    font-size: 2em;
    font-weight: bold;
}

footer {
    background-color: #22241f;
    color: #ccc5b9;
    text-align: center;
    padding: 5px 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* display: none; */
}

footer p {
    margin: 0;
    opacity: 0.3;
    padding: 0;
    font-size: 12px;
}

a {
    text-decoration: none;
}

.empty {
    height: 50px;
    /* width: 100%; */
    /* margin-bottom: 100px; */
}

.home,
.signers,
.thankyou,
.login,
.registerRight,
.profile,
.update,
.cities {
    height: 90%;
    display: flex;
    flex-direction: column;
    /* overflow: auto; */
    align-items: center;
    text-align: center;
    /* margin-bottom: 200px; */
}

.home,
.signers,
.thankyou h1,
.cities h1,
h2,
p {
    text-align: center;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    /* height: 100vh; */
    /* padding: 10px; */
}

.container .bottom {
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
}

form {
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 30%; */

    /* height: 100%;  */
}

.myBtn,
button[type="submit"] {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    padding: 0.5rem;
    margin: 10px;
    background-color: #22241f;
    align-self: center;
    color: #ccc5b9;
    border-radius: 5px;
    cursor: pointer;
}

.myBtn:hover,
button[type="submit"]:hover {
    background-color: #ccc5b9;
    color: #22241f;
    transition: 400ms ease-in-out;
}

.headerBtn {
    position: absolute;
    top: 15px;
    right: 50px;
}

canvas {
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px;
    background-color: oldlace;
}

/* .partial, */
.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 60%; */
    /* height: 100px; */
    overflow: visible;
    padding: 50px;
    border: 1px solid tomato;
    position: absolute;
    /* top: calc(0% - 300px); */
    top: 280px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: whitesmoke;
    box-shadow: 5px 5px 10px #000000;
}

.modal h3 {
    color: tomato;
    /* padding: 1rem; */
}

.modal a {
    padding: 0.5rem;
    margin-top: 3rem;
    background-color: tomato;
    /* align-self: center; */
    color: whitesmoke;
    border-radius: 5px;
}

.modal a:hover {
    background-color: grey;
    color: black;
    transition: 400ms;
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    color: whitesmoke;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    margin: 15px;
    width: 100%;
    text-align: center;
}

:focus {
    outline: none;
}

::placeholder {
    color: whitesmoke;
    opacity: 0.4;
}

:focus::placeholder {
    opacity: 0.2;
    color: #6f251f;
    transition: 500ms;
}

input:-webkit-autofill {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}

.signerList {
    transform: scale(1);
    transition: 200ms;
}

.signerList:hover {
    transform: scale(1.1);
}

.link:link,
.link:active,
.link:visited {
    color: #ccc5b9;
}

.link:hover {
    color: grey;
    transition: 200ms;
}

.nos {
    color: whitesmoke;
}

.main {
    padding-top: 20px;
    display: flex;
    height: 80vh;
    /* justify-items: center; */
}

.containerLeft {
    display: flex;
    flex-direction: column;
    /* background-color: wheat; */
    width: 50%;
    height: 100%;
    /* overflow: hidden; */
}
.imgContainer {
    /* border: 3px solid black; */
    max-width: 100%;
    /* overflow: hidden; */
}

.bruce {
    margin: 30px;
    border: 1px solid whitesmoke;
    transform: scale(1);
    transition: 200ms;
}

.bruce:hover {
    transform: scale(1.1);
}

.danceGif {
    width: 100%;
}

label {
    color: whitesmoke;
    opacity: 0.4;
    font-size: 12px;
    padding-bottom: 10px;
}

#signature {
    margin: 10px 0px 30px 0px;
}

.iconHeader {
    /* margin: 10px 0 0 10px; */
    width: 50px;
    position: absolute;
    left: 50px;
    top: 20px;
}

h2.signerList {
    font-size: 2.5vw;
}
